<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Bowerphp Test Suite">
            <directory>./tests/Bowerphp/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Bowerphp/</directory>
            <exclude>
                <file>./src/Bowerphp/Compiler.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <const name="PHPUNIT_BOWER_TESTSUITE" value="true"/>
    </php>

</phpunit>
